# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.db
.env

# Node
node_modules/
.next/
out/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
nul
device.ini

# Frontend specific
frontend/node_modules/

# Build output
db.json
